body {
    font-size: 2em;
}

nav {
    display: flex;
    font-size: 0.5em;
}

#home,#signup, ul, li {
    display: flex;
}

#home, #signup {
    flex: 1 1 25%;
}

#home {
    justify-content: center;
}

ul, li {
    margin: 0;
    padding: 0;
    flex: 0.5 0.5 15%;
    justify-content: space-evenly;
}

#signup {
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 2em;
    text-align: center;
}
